.trending{
    display: flex;
    width: screen;
    align-items: center;
    justify-content: center;
}

.trendingCard
{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 95%;
    background: #062f56;
    margin: 100px 10px;
    padding: 15px;
    border-radius: 20px;
    gap: 20px;
}

.trendingCardInnerDiv
{
    display: flex;
    padding: 10px;
}

.trendingCardImageWrapper{
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
    background: #1a446b;
    border-radius: 20px;
}

.trendingCardImageWrapper img
{
    width: 80%;;
}

@media (min-width: 768px) {
   .trendingCardImageWrapper{
    min-width: 80%;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .trendingCardImageWrapper{
    min-width: 30%;
  }
}


@media (min-width: 800px) {
  .trendingCardImageWrapper{
    min-width: 30%;
  }
}